*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max_container{
    max-width: 1020px;
    margin: auto;
    

    
    .container{
        max-width: 920px;
        margin: auto;
        width: 100%;
    }
}

section{
    display: $dispaly_flex;
}
.gold_line{
    max-width: 90px;
    border: solid 1px $goldenrod_color;
}

.empty_div{
    flex-grow: 1;
}

.valid{
    background-color: $goldenrod_color;
    .color_black{
        color: black;
        opacity: 1;
    }
    .color_black:hover{
          color: black; 
        opacity: 1;

    }
}

