@mixin a_list_style_reset {
    list-style: none;
    text-decoration: none;
    color:$white_color ;
}

@mixin hover_yellow_color {
    :hover{
        color:$goldenrod_color; 
    }
}

@mixin display_flex {
    display: flex;
    align-items: center;
}
// font style `p`
@mixin p_font_family {
    font-family: 'Poppins', sans-serif;
}
// font style `title`

@mixin titles_font_family {
    font-family: 'Quicksand', sans-serif;
}


@mixin btn_font_style {
    @include titles_font_family;
    font-size:$font_size - 12;
    color:$white_color ;
    opacity: 60%; 
    padding: ($spaceing - 6) ($spaceing + 12);
    text-transform: uppercase;
    background: none;
    border: solid 2px;

}

@mixin btn_font_style_whith_bg {
    @include btn_font_style;
    background-color: $goldenrod_color;

}

