$white_color:#FFFFFF;

$light_vibrant:#E9C899;

$grey_color:#656672;

$goldenrod_color:#FCD66C;

$font_size:20px;

$spaceing:10px;

$font_family_p: 'Poppins', sans-serif;

$font_family_title: 'Quicksand', sans-serif;
 
$dispaly_flex:flex;
